.example-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.flow-container {
  height: calc(100vh - 4rem);
  width: calc(100vw - 4rem);
  border: 1px solid gray;
}
.react-flow__node.selected {
  box-shadow: 0 0 0 1px #1a192b !important;
}
.react-flow__node-output.selected {
  box-shadow: 0 0 0 1px #ff0072 !important;
}
.react-flow__node-input.selected {
  box-shadow: 0 0 0 1px #0041d0 !important;
}
